<div class="success fixed top-0 right-0 m-4 mt-16 w-64 max-w-xs">
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 shadow-md">
        <div class="flex items-center">
            <div class="text-lg">
                <svg class="h-6 w-6 fill-current mr-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M17.707 5.293a1 1 0 010 1.414l-9 9a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L8 13.586l8.293-8.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
                </svg>
            </div>
            <div>
                <p class="font-bold">{{successMessage}}</p>
            </div>
        </div>
    </div>
</div>