<nav class="bg-gray-800 text-white py-2 px-4 flex justify-between items-center">
    <!-- Logo -->
    <div class="text-xl font-bold">Agenda Corespondenta</div>

    <!-- User Info and Logout Dropdown -->
    <div class="relative flex items-center">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white ms-4 mr-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            <svg class="w-2 h-2 mr-4  ms-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>

        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-32 dark:bg-gray-700 ">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                    <a href="/" class="block px-3 py-1 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Home</a>
                </li>
                <li>
                    <a href="/user/updateProfile/{{user.email}}" class="block px-3 py-1 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My Profile</a>
                </li>
                <li>
                    <a href="/logout" class="block px-3 py-1 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Logout</a>
                </li>
            </ul>
        </div>

        {{#githubLogin}}
            <div class="flex items-center">
                <span class="mr-2">{{user.name}}</span>
                <img src="{{user.avatar_url}}" alt="Avatar" class="w-8 h-8 rounded-full" referrerpolicy="no-referrer">
            </div>
        {{/githubLogin}}

        {{#googleLogin}}
            <div class="flex items-center">
                <span class="mr-2">{{user.name}}</span>
                <img src="{{user.avatar_url}}" alt="Avatar" class="w-8 h-8 rounded-full ms-1 mr-4" referrerpolicy="no-referrer">
            </div>
        {{/googleLogin}}
    </div>
</nav>
